{% extends "registration/base.html" %}

{% block title %}
<title>Password Change Form</title>
{% endblock %}

{% load crispy_forms_tags %}
{% block main %}

    <div class='mt-5'></div>

    <div class='row' style="margin-top: 150px; margin-bottom: 100px;">
        <div class='col-md-6 col-10  mx-auto'>
        <h1>Change your Password</h1>
            <form method='post' action=''>
                {% csrf_token %}
                {{form|crispy}}
            <span style='margin-bottom: 12px;'></span>
            <button type="submit" class='btn btn-block btn-info'>Save</button>
            </form>
        </div>
    </div>
    
{% endblock %}