{% extends "registration/base.html" %}

{% block title %}
<title>Password Reset Confirm</title>
{% endblock %}

{% load crispy_forms_tags %}

{% block main %}


    <div class='mt-5'></div>
    <div class='row' style="margin-top: 150px; margin-bottom: 100px;">
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
        <div class='col-md-4 col-10  mx-auto'>
            <h1>Set your Password</h1>
            <form method='post' action=''>
                {% csrf_token %}
                {{form|crispy}}
            <span style='margin-bottom: 12px;'></span>
            <button type="submit" class='btn btn-block btn-info'>Set new password</button>
            </form>
        </div>
    </div>
{% endblock %}