{% extends 'other_base.html' %}
 
{% block title %}<title>Home</title>{% endblock %}


{% block main %}

<main class="pt-5 mx-lg-5">
  <div class="container-fluid mt-5">
    <div class="row wow fadeIn">
      <div class="col-xl-6 col-md-6 mb-4"> 
          <div class="card classic-admin-card red accent-2">
              <div class='card-body py-3'>
                  <h1>Home Main-Sliders</h1>
                  {% for slide in home_slider %}
                      <ul>
                          <li>{{slide.title}}</li>
                      </ul>
                  {% endfor %}
              </div>
          </div>              
      </div>

      <div class="col-xl-6 col-md-6 mb-4"> 
          <div class="card classic-admin-card green accent-2">
              <div class='card-body py-3'>
                  <h1>Our Products Info</h1>
                  {% for info in our_products_are %}
                      <ul>
                          <li>{{info.info}}</li>
                      </ul>
                  {% endfor %}
              </div>
          </div>              
      </div>

      <div class="col-xl-6 col-md-6 mb-4"> 
          <div class="card classic-admin-card primary-color">
              <div class='card-body py-3'>
                  <h1>Tags</h1>
                  {% for tag in tags %}
                      <ul>
                          <li>{{tag.title}}</li>
                      </ul>
                  {% endfor %}
              </div>
          </div>              
      </div>
          
      <div class="col-xl-6 col-md-6 mb-4">
          <div class="card classic-admin-card warning-color">
              <div class='card-body py-3'>
                  <h1>Category</h1>
                  {% for item in category %}
                      <ul>
                          <li>{{item.title}}</li>
                      </ul>
                  {% endfor %}
              </div>
          </div>
      </div>

      <div class="col-xl-6 col-md-6 mb-4">
          <div class="card classic-admin-card teal">
              <div class='card-body py-3'>
                  <h1>Product</h1>
                  {% for item in product %}
                      <ul>
                          <li>{{item.title}}</li>
                      </ul>
                  {% endfor %}
              </div>
          </div>
      </div>

      <div class="col-xl-6 col-md-6 mb-4">
          <div class="card classic-admin-card red accent-2">
              <div class='card-body py-3'>
                  <h1>Delivery Team</h1>
                  {% for team in delivery_team %}
                      <ul>
                          <li>{{team.username}}-({{team.user}})</li>
                      </ul>
                  {% endfor %}
              </div>
          </div> 
      </div> 
      
      <div class="col-xl-6 col-md-6 mb-4">
          <div class="card classic-admin-card green accent-2">
              <div class='card-body py-3'>
                  <h1>Supplier Profile</h1>
                  {% for team in supplier_profile %}
                      <ul>
                          <li>{{team.username}}-({{team.user}})</li>
                      </ul>
                  {% endfor %}
              </div>
          </div>
      </div>
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card classic-admin-card primary-color">
                <div class='card-body py-3'>
                    <h1>Supplier Waiting List</h1>
                    {% for supplier in supplier_waiting_list %}
                        <ul>
                            <li>{{supplier.supplier_name}}-({{supplier.shop_name}})</li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div> 
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card classic-admin-card primary-color">
                <div class='card-body py-3'>
                    <h1>Blog List</h1>
                    {% for post in blog %}
                        <ul>
                            <li>{{post.post_title}}</li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>        
    </div>
  </div>
</main>

{% endblock %}