*{
    margin: 0;
    padding: 0;
    /* font-family: 'Open Sans', sans-serif; */
}

.my-btn{
    background-color: inherit !important;
    border: 0 !important;
}


.blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
  }