{% extends 'other_base.html' %}


{% load crispy_forms_tags %}

{% block title %}
<title>User Status Update</title>
{% endblock %}

{% block main %}
    <div class="container-fluid mt-5">
        <h4 class="text-center">Supplier Application Form Update</h4>
        <form class="mr-5" method="POST">
            {% csrf_token %}

            {{form|crispy}}

            <div class="d-flex justify-content-center">
                <a href="{% url 'kadmin:users_list' %}" class="btn btn-info btn-md">Cancel</a>
                <button type="submit" class="btn btn-dark btn-md">Update</button>
            </div> 
        </form>
    </div>
  
{% endblock %}