{% extends 'base.html' %} 


{% block title %}<title>All Products</title>{% endblock %}

{% block main %}
<div class="my-5"></div> <hr>
<div class="container py-5 mt-5">
  <header class="text-center">
    <h1 class="display-4">Your Products</h1>
    <p class="font-italic mb-0">Have a quick look at your store.</p>
  </header>

  <div class="row">
    <div class="col-lg-11 mx-auto">
      {% if product %}
      <div class="row py-5">
        {% for item in product %}  
          <div class="col-lg-4">
            <a href="{% url 'product:detail' item.id %}" >
            <figure class="caption-3 mb-0 shadow-sm p-3 bg-white">
              <img src="{{item.image.url}}" alt="" class="w-100">
              <figcaption class="px-5 py-3 bg-white shadow-sm">
                
                  <h2 class="h5 mb-1 font-weight-bold">{{item.title}}</h2>
                
                <p class="mb-0 text-small font-italic text-muted">Rs {{item.price}}</p>
              </figcaption>
            </figure>
            </a>
          </div>
        {% endfor %}

      </div>
      {% else %}
      <div>
        <h5>No products to show. Please add products to view them here.</h5>
      </div>
      {% endif %}
    </div>
  </div>

{% endblock %}

