{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'coloshop/plugins/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'coloshop/styles/categories_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'coloshop/styles/categories_responsive.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'coloshop/plugins/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
<script src="{% static 'coloshop/js/categories_custom.js' %}"></script>
{% endblock %}

{% block title %}
<title>Shop</title>
{% endblock %}

{% block main %}

<div class="super_container">
	<div class="container product_section_container">
		<div class="row">
			<div class="col product_section clearfix">

				<div class="breadcrumbs d-flex flex-row align-items-center">
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li class="active"><a><i class="fa fa-angle-right" aria-hidden="true"></i>Shop</a></li>
					</ul>
				</div>

				<!-- Sidebar -->

				<div class="sidebar">
					<div class="sidebar_section">
						<div class="sidebar_title">
							<h5>Product Category</h5>
						</div>
						<ul class="sidebar_categories">
                            {% for item in category %}
							<li><a href="{% url 'product:cat-product' item.pk %}">{{item.title}}</a></li>
                            {% endfor %}
						</ul>
					</div>
				</div>

				<!-- Main Content -->
				<div class="main_content">
					<div class="products_iso">
						<div class="row">
							<div class="col">
								<div class="product-grid">
									{% for item in product %}
									<div class="product-item mr-5" style="margin-top: 20px;">
										<div class="product discount product_filter">
											<a href="{% url 'product:detail' item.id %}">
												<div class="product_image">
													
													{% if item.imageURL %}
													<img src="{{item.imageURL}}" alt="">
													{% else %}
													<img class="img-responsive" src="https://images.unsplash.com/photo-1589606743932-747c74e7330e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="">
													{% endif %}
														
												</div>
											</a>
											<div class="favorite favorite_left"></div>
											<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>New</span></div>
											<div class="product_info">
												<h6 class="product_name"><a href="{% url 'product:detail' item.id %}">{{item.title}}</a></h6>
												<div class="product_price">Rs {{item.price_after_discount}}<span>Rs {{item.price}}</span></div>
											</div>
										</div>
										<div class="red_button add_to_cart_button">
											<form method='POST' action="{% url 'carts:update' %}">
												{% csrf_token %}
												<input type="hidden" value="{{item.id}}" name='products_id'>
							
												<input type='hidden' name='qty' value='1'/>
							
												<button class="btn btn-danger btn-md" type="submit" name='add'>Add to cart </button>    
											</form> 
										</div>  
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}