
img{
	max-width:100%;
}
a {
	text-decoration:none;
}
a:active,
a:hover {
	outline: 0;
	text-decoration:none;
}
img {
	border: 0;
}
h3 {
	font-weight: 700;
	margin: 0;
}
a{
	font-weight:400;
}
img,a,h3{
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.section {
	padding: 100px 0;
	position: relative;
}
.section-title {
	text-align: center;
	margin-bottom: 50px;
	padding: 0 215px;
}
.section-title h2 {
	font-size: 30px;
	margin-bottom: 0;
	text-transform: capitalize;
	position: relative;
	color: #2c2d3f;
	font-weight: 700;
	margin-bottom: 10px;
	padding-bottom: 15px;
}
.section-title h2::before {
	position: absolute;
	content: "";
	height: 2px;
	width: 50px;
	background: #F7941D;
	left: 50%;
	bottom: 0;
	margin-left: -25px;
}
.section-title p {
	font-size: 14px;
	color: #666;
}
.container{
	max-width:1170px;
}