{% extends 'base.html' %}

{% load static %}

{% block title %}<title>KaiiMart</title>{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home_main_slider.css' %}">
{% endblock %}


{% block main %}

  <div class="super_container">

    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}

    <!-- Slider -->
    {% include 'sliders.html' %}
  
    <!-- Organic Station  -->
    <div class="best_sellers">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="section_title new_arrivals_title">
              <h2 style="color: red;">Organic Station</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="product_slider_container">
              <div class="owl-carousel owl-theme product_slider">	
                {% for item in organic %}
                  <div class="owl-item product_slider_item">
                    <div class="product-item">
                      <div class="product discount">
                        <a href="{% url 'product:detail' item.id %}">
                          <div class="product_image">
                            
                            {% if item.imageURL %}
                            <img src="{{item.imageURL}}" alt="" 
                            style="display: block; margin: 0 auto;">
                            {% else %}
                            <img src="https://images.unsplash.com/photo-1490885578174-acda8905c2c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1649&q=80" alt=""
                            style="display: block; margin: 0 auto;">
                            {% endif %}
                          </div>
                        </a>
            
                        <div class="favorite favorite_left"></div>
                        <!-- <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-${{x.discount_price}}</span></div> -->
                        <div class="product_info">
                          <h6 class="product_name"><a href="{% url 'product:detail' item.id %}">{{item.title}}</a></h6>
                          <div class="product_price">Rs{{item.price_after_discount}}<span style="color: orange;">Rs{{item.price}}</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
  
              <!-- Slider Navigation -->
              <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </div>
              <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Categories -->
    <div class="banner mt-5">
      <div class="container">
        <h4 class="text-center mb-5" style="color: red; font-size: 30px;">Shop By Category</h4>
        <div class="row">
          {% for item in category %}
            <div class="col-md-4 mt-3">
              <a href="{% url 'product:cat-product' item.id %}">
                
                {% if item.imageURL %}
                <div class="banner_item align-items-center" style="background-image:url({{item.imageURL}})"></div>
                {% else %}
                <div class="banner_item align-items-center" style="background-image:url('https://images.unsplash.com/photo-1600261100972-05d0ed3c3efb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80');"></div>
                {% endif %}
                
              </a>
              <div class="banner_category">
                <a href="{% url 'product:cat-product' item.id %}">{{item.title}}</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  
    <!-- Our Products Are -->
    <!-- <div class="banner mt-5" style="background: #f2f2f2;">
      <div class="container" style="padding: 2em;">
        <h4 class="text-center" style="color: red; font-size: 30px;">Our Products Are</h4>
        <div class="row">
          {% for info in our_products_are %}
            <div class="col-md-4 mt-5">
              <a>
                <div class="banner_item align-items-center" style="background-image:url({{info.imageURL}}); border-radius: 50%; height: 400px;">
                </div>
              </a>
              <div class="banner_category" style="margin-top: 20px;">
                <a>{{info.info}}</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div> -->

    
    {% if deal_of_the_week  %}
    <!-- Deal of the week -->
    <div class="deal_ofthe_week">
      <div class="container">
        {% for deal in deal_of_the_week %}
        <div class="row align-items-center p-3">
          <div class="col-lg-6">

            {% if deal.image %}
              <img src="{{deal.image.url}}" alt="" class="img-fluid" height="100%" width="100%">
            {% else %}
              <img src="{{deal.product.image.url}}" alt="" class="img-fluid" height="100%" width="100%">
            {% endif %}

          </div>
          <div class="col-lg-6 text-right deal_ofthe_week_col">
            <div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
              <div class="section_title">
                <h2 class="bg-light p-3">Deal Of The Week</h2>
              </div>
              <ul class="timer">
                <li class="d-inline-flex flex-column justify-content-center align-items-center">
                  <div id="day" class="timer_num">03</div>
                  <div class="timer_unit">Day</div>
                </li>
                <li class="d-inline-flex flex-column justify-content-center align-items-center">
                  <div id="hour" class="timer_num">15</div>
                  <div class="timer_unit">Hours</div>
                </li>
                <li class="d-inline-flex flex-column justify-content-center align-items-center">
                  <div id="minute" class="timer_num">45</div>
                  <div class="timer_unit">Mins</div>
                </li>
                <li class="d-inline-flex flex-column justify-content-center align-items-center">
                  <div id="second" class="timer_num">23</div>
                  <div class="timer_unit">Sec</div>
                </li>
              </ul>
              <div class="red_button deal_ofthe_week_button mb-3"><a href="{% url 'product:detail' deal.product.pk %}">shop now</a></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  
    <!-- Latest Products -->
    <div class="best_sellers">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="section_title new_arrivals_title">
              <h2 style="color: red;">Latest Products</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="product_slider_container">
              <div class="owl-carousel owl-theme product_slider">	
                {% for item in product %}
                  <div class="owl-item product_slider_item">
                    <div class="product-item">
                      <div class="product discount">
                        <a href="{% url 'product:detail' item.id %}">
                          <div class="product_image">
                            {% if item.imageURL %}
                            <img src="{{item.imageURL}}" alt="" 
                            style=" display: block; margin: 0 auto;">
                            {% else %}
                            <img src="https://images.unsplash.com/photo-1490885578174-acda8905c2c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1649&q=80" alt=""
                            style=" display: block; margin: 0 auto;" >
                            {% endif %}
                          </div>
                        </a>
            
                        <div class="favorite favorite_left"></div>
                        <!-- <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-${{x.discount_price}}</span></div> -->
                        <div class="product_info">
                          <h6 class="product_name"><a href="{% url 'product:detail' item.id %}">{{item.title}}</a></h6>
                          <div class="product_price">Rs{{item.price_after_discount}}<span style="color: orange;">Rs{{item.price}}</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
  
              <!-- Slider Navigation -->
              <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </div>
              <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Benefit -->
    <div class="benefit">
      <div class="container">
        <div class="row benefit_row">
          <div class="col-lg-3 benefit_col">
            <div class="benefit_item d-flex flex-row align-items-center">
              <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
              <div class="benefit_content">
                <h6>Fast Delivery</h6>
                <p>Time is money!</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 benefit_col">
            <div class="benefit_item d-flex flex-row align-items-center">
              <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
              <div class="benefit_content">
                <h6>Cash on delivery</h6>
                <p>Pay after you receive.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 benefit_col">
            <div class="benefit_item d-flex flex-row align-items-center">
              <div class="benefit_icon"><i class="fa fa-pagelines" aria-hidden="true"></i></div>
              <div class="benefit_content">
                <h6>Fresh and Healthy</h6>
                <p>Organic products for you!</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 benefit_col">
            <div class="benefit_item d-flex flex-row align-items-center">
              <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
              <div class="benefit_content">
                <h6>opening all week</h6>
                <p>8 AM - 9 PM</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Blogs -->
    <div class="blogs">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="section_title">
              <h2 style="color: red;">Latest Blogs</h2>
            </div>
          </div>
        </div>
        <div class="row blogs_container">
          {% for post in blog %}
            <div class="col-lg-4 blog_item_col">
              <div class="blog_item">
                <div class="blog_background" style="background-image:url({{post.imageURL}})"></div>
                <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                  <h4 class="blog_title">{{post.post_title}}</h4>
                  <span class="blog_meta">by {{post.author.username}} | {{ post.posted_date }}</span>
                  <a class="blog_more" href="{% url 'blog:detail' post.id %}">Read more</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  
    <!-- Newsletter -->
    <div class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
              <h4>Newsletter</h4>
              <p>Subscribe to our newsletter for latest updates and exciting offers.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <form id="subscribe_newsletter_form" method="POST">
              {% csrf_token %}
              <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                <input id="newsletter_email" type="email" placeholder="Your email" required="required" data-error="Valid email is required.">
                <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Want to be supplier in KaiiMart -->
    <div class="newsletter" style="background: orange;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
              <h4>Want to be Supplier?</h4>
              <p>Fill the form by clicking the button and we'll get back to you soon.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
              <a style='color: white;' href="{% url 'supplierform' %}" class='btn newsletter_submit_btn trans_300 text-center p-2'>Be Our Supplier</a>
            </div>
          </div>  
        </div>
      </div>
    </div>

  </div> 

{% endblock %}


{% block js %}
<script src="{% static 'coloshop/js/custom.js' %}"></script>
<script>
  $(document).on('submit', '#subscribe_newsletter_form', function(e){
    e.preventDefault(); // prevents the page from getting refreshed
    //now we write our ajax code
    $.ajax({
        type: 'POST',
        url: "{% url 'customer:subscribe_newsletter' %}",
        data:{
            user_email:$('#newsletter_email').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        success:function(){
            document.getElementById("newsletter_email").value = '';
            swal("Subscribed to the Newsletter!", {
              icon: 'success',
              buttons: false,
              timer: 1000,
            });
        },
        error: function() {
          document.getElementById("newsletter_email").value = '';
          swal("Could not subscribe to the Newsletter!", {
              icon: 'error',
              buttons: false,
              timer: 1000,
            });
        }
    });
  });
</script>
{% endblock %}