{% extends 'base.html' %}

{% block title %}<title>Checkout Finished</title>{% endblock %}

{% block main %}

    <div class="mt-5"></div>

    <div class="container" style="margin-top: 139px; margin-bottom: 100px;">
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 100%; display: block;">
                <p class="h4 text-center mt-5 mb-5 ml-5"><strong>You've successfully Checkedout</strong></p>
                <div class="card-body ml-5 mb-5">
                    <div class='text-center mb-5'>
                        <strong>Our delivery team will contact you soon</strong>
                    </div>
                    <div class='text-center'>
                        <a class='btn btn-info' href="{% url 'home' %}">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}