{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Checkout Proceed</title>{% endblock %}

{% load crispy_forms_tags%}

{% block main %}



<div class="container" style="margin-top: 100px; margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-8">
            <div class="card ">            
                <div class="card-body">
                    <p class="h4 text-center py-4">Order Confirmation <i class="fa fa-check-circle-o ml-2" aria-hidden="true"></i></p> 
                    <span class="font-italic text-muted">Please review your details for confirmation.</span>
                    <hr>
                    <div class='ml-5 mt-5 text-dark'>
                        <!-- <p>
                            <label for="defaultFormCardIdEx" class="dark-text font-weight-bold">Order Id: </label>
                            {{order.order_id}}
                        </p> -->
                        <br>
                        <p>
                            <label for="defaultFormCardNameEx" class="dark-text font-weight-bold">Name:: </label>
                            {{order.full_name}}
                        </p>
                        <br>
                        <p>
                            <label for="defaultFormCardEmailEx" class="dark-text font-weight-bold">Email: </label>
                            {{order.email}}
                        </p>
                        <br>
                        <p>
                            <label for="defaultFormCardAddressEx" class="dark-text font-weight-bold">Address: </label>
                            {{order.address}}, {{order.city}}
                        </p>
                        <br>
                        <p>
                            <label for="defaultFormCardPhoneNumEx" class="dark-text font-weight-bold">Phone Number: </label>
                            {{order.phone_num}}
                        </p>
                    </div>
    
                    <!-- <div class="text-center mt-3">
                        <a href="{% url 'orders:esewa-request' id=order.order_id %}">
                            <button class="btn btn-info mr-3">Pay with Esewa<i class="fa fa-money ml-2"></i></button>
                        </a>
                        <a href="{% url 'orders:esewa-request' id=order.order_id %}">
                            <button class="btn btn-info">Pay with Khalti<i class="fa fa-money ml-2"></i></button>
                        </a>
                    </div> -->
    
                    <form action="{% url 'orders:final' %}" method="post">
                        {% csrf_token %}
                        <div class="text-center py-4 mt-3">
                            <button class="btn btn-info" type="submit" name='confirm'>Confirm Order
                                <i class="fa fa-send ml-2"></i>
                            </button>
                        </div>
                    </form>  
                </div> 
            </div>
        </div>
    
        <div class="col-md-4 mt-5">
            <div class="card"> 
                <div class="text-center text-danger">
                    <span class="font-weight-bold">Important Notice <i class="fa fa-star ml-1" aria-hidden="true"></i></span>  
                </div>     <hr> 
                <div class="card-body">
                  <!-- CUSTOM BLOCKQUOTE -->
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic text-success text-justify">"Since we are just starting out, we only accept cash on delivery for the time being. 
                        The delivery charges for your order will be notified to you by our delivery team as you confirm the order. <hr>
                        "<span class="text-info">We will try to provide you with online payment option very soon!</span>."</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">KAii Mart  <br>
                        <cite title="Source Title">Thank you! <i class="fa fa-heart ml-1" aria-hidden="true"></i></cite> 
                    </footer>
                </blockquote><!-- END -->
  
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}