{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cart/main.css' %}">
{% endblock %}

{% block title %}<title>Cart</title>{% endblock %}


{% block main %}

<div class="mt-5"></div>

<div class="container" style="margin-top: 100px; padding: 1em;">
	<table class="table">
		<thead class="table-dark">
			<tr>
			<th scope="col">#</th>
			<th scope="col"></th>
			<th scope="col">Item</th>
			<th scope="col">Price</th>
			<th scope="col">Quantity</th>
			<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody class="p-1">
			{% for item in cart.cartitem_set.all %}
				<tr>
					<th scope="row">1</th>
					<td><img class="row-image" src="{{item.product.imageURL}}" 
						style="width: 90px; height: 90px; display: block;"></td>
					<td>{{item.product.title}}</td>
					{% if item.product.price_after_discount %}
						<td>Rs{{item.product.price_after_discount}}</td>
					{% else %}
						<td>Rs{{item.product.price}}</td>
					{% endif %}		
					<td>
						<form method='POST' action="{% url 'carts:update' %}" style="margin-top: -10px;">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-5" style="margin-top: 6px;">
									<input type="hidden" value="{{ item.product.id }}" name='products_id'>
									<input type='number' name='qty' value='{{item.quantity}}' min="0" style="width: 4em"/>	
								</div>
								<div class="col-md-7">		
									<button class="fa fa-check-square my-btn" style="font-size: 2.3em; color: orange;"
										type="submit" name='add'>
									</button>
								</div>
							</div>
						</form>
					</td>
					<td>Rs{{item.item_total_price}}</td>
				</tr>
			{% endfor %}	
		</tbody>
	</table>  
</div>

<div class="container" style="margin-bottom: 250px;">
	<div class="row">
		<div class="col-lg-8 col-md-5 col-12">
		</div>
		<div class="col-lg-4 col-md-7 col-12">
			<h4>Total Item: {{cart.product.all.count}}</h4> 
			<div class="p-4">
				<ul>
					<li><strong>Cart Subtotal - </strong><span>Rs{{cart.total}}</span></li>
					<li><strong>Delivery - </strong><span>Free</span></li>
					<li><strong>You Save - </strong><span>Rs{{cart.total_saved_after_discount}}</span></li>
					<li><strong>You Pay - </strong><span>Rs{{cart.total}}</span></li>
				</ul>
			</div>
		</div>
	</div>
	<a class="btn btn-dark" href="{% url 'orders:home' %}" style="float: right; margin-right: 20px;">Checkout</a>
	<a class="btn btn-outline-dark" href="{% url 'home' %}" style="float: right; margin-right: 20px;">&#x2190; Continue Shopping</a>
</div>

{% endblock%}