{% load static %}

<style>
  
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.5s;
  }

  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #0f0f0f;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color:#fc0505;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
  
</style>

<header class="header trans_300">
  <div class="main_nav_container fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-right">

          <div class="logo_container img-fluid">
            <!-- <a href="{% url 'home' %}"><strong>kaii<span style="color: orange;">mart</span></strong></a>  -->
            <a href="{% url 'home' %}"><img src="{% static 'img/KaiiMart.png' %}" class="img-fluid" height="70px" width="70px"  alt="Kaii Mart's Logo"></a> 
          </div>
       
          <nav class="navbar">

            <ul class="navbar_menu mr-3">
              {% if not user.is_manager and not user.is_admin and not user.is_delivery_team %}
              <li><a href="{% url 'product:organic_station' %}">Organic Station</a></li>
              <li><a href="{% url 'product:shop_page' %}">Shop</a></li>
              {% endif %}
              {% if user.is_authenticated and user.supplierprofile %}
              <li><a href="{% url 'product:create' %}">Add Product</a></li>
              {% endif %}
              {% if not user.is_manager and not user.is_admin and not user.is_delivery_team %}
              <li>
                <form class="form-inline ml-5 mr-3" action="{% url 'product:search' %}" method="get">
                  <input class="form-control search w-150" type="text" name='q' placeholder="Search" aria-label="Search">
                </form>
              </li>
              {% endif %}
            </ul>

            <ul class="navbar_user">
              {% if user.is_anonymous %}
              <li><a href="{% url 'login' %}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
              {% elif user.is_customer %}
              <li class="nav-item avatar dropdown">  
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"> 
                {% if user.customerprofile.imageURL %}
                <img src="{{user.customerprofile.imageURL}}" class="rounded-circle z-depth-0"
                alt="avatar" height="25" width='25'>
                {% else %}
                <i class="fa fa-user mr-1"></i>{{user.username}}
                {% endif %}  
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary text-center"
                  aria-labelledby="navbarDropdownMenuLink-55">
                    <a href="{% url 'customer:home' %}">Profile</a>
                    <a href="{% url 'customer:setting' %}">Settings</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
              </li>
              {% elif user.is_supplier %}
              <li class="nav-item avatar dropdown">  
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {% if user.supplierprofile.imageURL %}
                <img src="{{user.supplierprofile.imageURL}}" class="rounded-circle z-depth-0"
                alt="avatar" height="25" width='25'>
                {% else %}
                <i class="fa fa-user mr-1"></i>{{user.username}}
                {% endif %}  
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary text-center"
                  aria-labelledby="navbarDropdownMenuLink-55">
                  <a href="{% url 'seller:home' %}">Profile</a>
                  <a href="{% url 'product:all_products' email=user %}">My Products</a>
                  <a href="{% url 'seller:setting' %}">Settings</a>
                  <a href="{% url 'logout' %}">Logout</a>
                </div>
              </li>
              {% endif %}

              {% if user.is_supplier or user.is_customer or user.is_anonymous %}
              <li class="checkout ml-4">
                <a href="{% url 'carts:home' %}">
                  <i class="fa fa-shopping-cart p-3 py-5" aria-hidden="true"></i>
                  <span id="checkout_items" class="checkout_items">2</span>
                  {% if request.session.items_total %}
                  <span id="checkout_items" class="checkout_items"> {{request.session.items_total}}</span>
                  {% else %}
                  <span id="checkout_items" class="checkout_items">0</span>
                  {% endif %} 
                </a>
              </li>
              {% endif %}
            </ul>

            <ul class="nav justify-content-end ml-5">
              <li class="nav-item">
                <span style="font-size:30px; cursor:pointer"  onclick="openNav()">&#9776;</span>
          
              </li>
              
            </ul>

            

          </nav>

          <div id="myNav" class="hamburger_menu overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
              <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
            </a>
              <div class="hamburger_menu_content text-center my-5">

                <ul class="menu_top_nav">
                  <li class="mb-3">
                    <!-- <form class="form-inline ml-5" action="{% url 'product:search' %}" method="get">
                      <input class="form-control search" type="text" name='q' placeholder="Search" aria-label="Search">
                    </form> -->

                    <div class="row justify-content-center">
                      <div class="col-12 col-md-10 col-lg-8">
                          <form class="card card-sm" action="{% url 'product:search' %}" method="get">
                              <div class="card-body row no-gutters align-items-center">
                                  <div class="col-auto">
                                      <i class="fa fa-search h4 text-body"></i>
                                  </div>
                                  <div class="col">
                                      <input class="form-control form-control-lg form-control-borderless" type="text" name='q' type="search" placeholder="Search for fruits or vegetables">
                                  </div>
                                  <div class="col-auto">
                                      <button class="btn btn-lg btn-warning" type="submit">Search</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  </li>
                    
                  <li class=" mt-2"><a href="{% url 'home' %}">Home <i class="fa fa-home ml-2"></i></a></li>
                  <li class="mt-2"><a href="{% url 'product:organic_station' %}">Organic Station<i class="fa fa-shopping-basket ml-2"></i></a></li>
                  <li class=" mt-2"><a href="{% url 'product:shop_page' %}">Shop<i class="fa fa-shopping-cart ml-2"></i></a></li>
                  <li class=" mt-2"><a href="{% url 'blog:home' %}">Blog<i class="fa fa-newspaper-o ml-2"></i></a></li>
                  <li class=" mt-2"><a href="{% url 'customer:contact_us' %}">Contact<i class="fa fa-address-book ml-2"></i></a></li>
                  
                  {% if user.is_authenticated and user.supplierprofile %}
                  <li class="mt-2"><a href="{% url 'product:create' %}">Add Product<i class="fa fa-plus-square ml-2" aria-hidden="true"></i></a></li>
                  {% endif %}
          
                  {% if user.is_anonymous %} 
                  <li class="mt-2">
                    <a href="{% url 'login' %}">LogIn<i class="fa fa-sign-in ml-2" aria-hidden="true"></i></a>
                  </li>
                  <li class="mt-2">
                    <a href="{% url 'customer:register' %}">
                      Register<i class="fa fa-user-plus ml-2" aria-hidden="true"></i>
                    </a>
                  </li>
                  {% else %}
                  <li class="mt-2"><a href="{% url 'logout' %}">Logout<i class="fa fa-sign-out ml-2" aria-hidden="true"></i></a></li>
                  {% endif %}
                </ul>

              </div>
            </div>
          </div

        </div>
      </div>  
    </div>
  </div>
</header>

<script>
  function openNav() {
    document.getElementById("myNav").style.height = "100%";
  }
  
  function closeNav() {
    document.getElementById("myNav").style.height = "0%";
  }
  </script>
