<header class="header trans_300">
  <div class="main_nav_container fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-right">
          <div class="logo_container">
            <a href="{% url 'home' %}"><strong>kaii<span style="color: orange;">mart</span></strong></a> 
          </div>
       
          <nav class="navbar">
            <ul class="navbar_menu mr-3">
              {% if not user.is_manager and not user.is_admin and not user.is_delivery_team %}
              <li><a href="{% url 'product:organic_store' %}">Organic store</a></li>
              <li><a href="{% url 'product:shop_page' %}">Shop</a></li>
              {% endif %}
              {% if user.is_authenticated and user.supplierprofile %}
              <li><a href="{% url 'product:create' %}">Add Product</a></li>
              {% endif %}
              {% if not user.is_manager and not user.is_admin and not user.is_delivery_team %}
              <li>
                <form class="form-inline ml-5 mr-3" action="{% url 'product:search' %}" method="get">
                  <input class="form-control search w-150" type="text" name='q' placeholder="Search" aria-label="Search">
                </form>
              </li>
              {% endif %}
            </ul>

            <ul class="navbar_user">
              {% if user.is_anonymous %}
              <li><a href="{% url 'login' %}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
              {% elif user.is_customer %}
              <li>
                
                {% if user.customerprofile.imageURL %}
                <img src="{{user.customerprofile.imageURL}}" class="rounded-circle z-depth-0"
                alt="avatar" height="25" width='25'>
                {% else %}
                <i class="fa fa-user mr-1"></i>{{user.username}}
                {% endif %}  
              </li>
              <li class="nav-item avatar dropdown">  
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                  aria-labelledby="navbarDropdownMenuLink-55">
                    <a style="padding-left: 3rem;" href="{% url 'customer:home' %}">Profile</a>
                    <a style="padding-left: 3rem;" href="{% url 'customer:setting' %}">Settings</a>
                    <a style="padding-left: 3rem;" href="{% url 'logout' %}">Logout</a>
                </div>
              </li>
              {% elif user.is_supplier %}
              <li>
                <img src="{{user.supplierprofile.imageURL}}" class="rounded-circle z-depth-0"
                alt="avatar" height="35">
              </li>
              <li class="nav-item avatar dropdown">  
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                  aria-labelledby="navbarDropdownMenuLink-55">
                  <a style="padding-left: 3rem;" href="{% url 'seller:home' %}">Profile</a>
                  <a style="padding-left: 3rem;" href="{% url 'product:all_products' email=user %}">My Products</a>
                  <a style="padding-left: 3rem;" href="{% url 'seller:setting' %}">Settings</a>
                  <a style="padding-left: 3rem;" href="{% url 'logout' %}">Logout</a>
                </div>
              </li>
              {% endif %}

              {% if user.is_supplier or user.is_customer or user.is_anonymous %}
              <li class="checkout">
                <a href="{% url 'carts:home' %}">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  <span id="checkout_items" class="checkout_items">2</span>
                  {% if request.session.items_total %}
                  <span id="checkout_items" class="checkout_items"> {{request.session.items_total}}</span>
                  {% else %}
                  <span id="checkout_items" class="checkout_items">0</span>
                  {% endif %} 
                </a>
              </li>
              {% endif %}
            </ul>
            <ul class="navbar_user">
            <li class="hamburger_container">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </li>
            </ul>
          </nav>
        </div>
      </div>  
    </div>
  </div>
</header>

<div class="fs_menu_overlay"></div>
<div class="hamburger_menu">
  <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
  <div class="hamburger_menu_content text-right">
    <ul class="menu_top_nav">
      <li>
        <form class="form-inline ml-5" action="{% url 'product:search' %}" method="get">
          <input class="form-control search" type="text" name='q' placeholder="Search" aria-label="Search">
        </form>
      </li>
        
      <li class="menu_item"><a href="{% url 'home' %}"><i class="fa fa-home mr-2"></i>Home</a></li>
      <li class="menu_item"><a href=""><i class="fa fa-shopping-basket mr-2"></i>organic store</a></li>
      <li class="menu_item"><a href="{% url 'product:shop_page' %}"><i class="fa fa-shopping-cart mr-2"></i>shop</a></li>
      <li class="menu_item"><a href="{% url 'blog:home' %}"><i class="fa fa-bars mr-2"></i>blog</a></li>
      <li class="menu_item"><a href="#"><i class="fa fa-address-book mr-2"></i>contact</a></li>
      
      {% if user.is_authenticated and user.supplierprofile %}
      <li class="menu_item"><a href="{% url 'product:create' %}"><i class="fa fa-plus-square mr-2" aria-hidden="true"></i>Add Product</a></li>
      {% endif %}

      {% if user.is_anonymous %} 
      <li class="menu_item">
        <a href="{% url 'login' %}"><i class="fa fa-sign-in mr-2" aria-hidden="true"></i>LogIn</a>
      </li>
      <li class="menu_item">
        <a href="{% url 'customer:register' %}">
          <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>Register
        </a>
      </li>
      {% else %}
      <li class="menu_item"><a href="{% url 'logout' %}"><i class="fa fa-sign-out mr-2" aria-hidden="true"></i>Logout</a></li>
      {% endif %}
    </ul>
  </div>
</div