{% extends 'base.html' %}


{% block main %}
    <div class="container mt-5 mb-5">
        <div class="mt-5 mb-5">Congratulations</div>
        <div class="mt-5 text-center ml-5">
        <header class="mt-5 ml-5 mb-5">
            <span class="display-4 mt-5 py-5 ml-5">Password Successfully Changed</span>
        </header>
        <hr>
        <div class="homebutton mt-5">
            <a href="{% url 'home' %}" class="btn btn-secondary">Take me Home</a>
        </div>
        </div>
    </div>
{% endblock main %}
    