#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    /*border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;*/
  }
  .loading{
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #FF8C00;
    position: relative;
    animation: a1 2s linear infinite;
  }
  
  .loading::before,.loading::after{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
  }
  
  .loading::before{
    border-top: 10px solid #f01411;
    transform: rotate(120deg);
  }
  
  .loading::after{
    border-top: 10px solid #15f20a;
    transform: rotate(240deg);
  }
  
  .loading span{
    position: absolute;
    width: 200px;
    height: 200px;
    color: #fff;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
  }
  
  @keyframes a1 {
    to{
      transform: rotate(360deg);
    }
  }
  
  @keyframes a2 {
    to{
      transform: rotate(-360deg);
    }
  }